body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: grid;
  /* height: 400px; */
  /* display: inline-grid; */
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: repeat(6, 200px); */
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-template-columns: repeat(3, minmax(400px, 1fr)); */
  /* grid-template-rows: 100px; */
  /* grid-template-rows: 200px 200px 300px; */
  /* grid-template-rows: repeat(3, 200px); */
  grid-template: repeat(3, 200px) / repeat(3, minmax(200px, 200px));
  /* column-gap: 20px;
  row-gap: 10px; */
  /* gap: 20px 30px; */
  /* justify-content: center; */
/* justify-items: stretch;
justify-items: start;
justify-items: end; */
/* justify-items: center;
align-items: end; */
/* place-items: center end; */
/* place-items: center; */
/* justify-content: start;
justify-content: end;
justify-content: center;
justify-content: space-between;
justify-content: space-around; */
/* justify-content: space-evenly;
align-content: space-around; */


/* place-content:- <align-content><justify-content> */
/* value can be start end stretch space-between space-around and space-evenly */
/* place-content: start end;
place-content: center; */
/* grid-auto-flow: column;
grid-auto-columns: 100px;
grid-auto-rows: 200px; */

/* grid-column-start
grid-column-end
grid-row-start 
grid-row-end 
grid-column 
grid-row 
justify-self 
align-self
place-self */
}

.grid-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: rgb(255, 0, 0);
  /* grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2; */
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  background-color: rgb(255, 162, 0);
  /* justify-self: stretch;
  justify-self: start;
  justify-self: end; */ 
  /* align-self: start; */
  place-self: center;
}
.item-3 {
  background-color: rgb(187, 255, 0);
}
.item-4 {
  background-color: rgb(0, 255, 102);
}
.item-5 {
  background-color: rgb(0, 217, 255);
}
.item-6 {
  background-color: rgb(0, 30, 255);
}
.item-7 {
  background-color: rgb(106, 0, 255);
}
.item-8 {
  background-color: rgb(242, 0, 255);
}
.item-9 {
  background-color: rgb(255, 0, 123);
}
