body {
  margin: 0;
}

.container {
  display: flex;
  border: 6px solid black;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;

  height: 800px;

  /* flex-flow: row nowrap; */
  /* flex-flow: row-reverse wrap ; */

  /* column-gap: 20px;
    row-gap: 20px; */
  /* gap: 20px 30px; */

  /* justify-content: flex-start; */
  /* justify-content: flex-end;  */
  /* justify-content: center; */
  /* justify-content: space-between;  */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: baseline; */
  /* align-items: center; */
  
  align-content: stretch;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-around;
  align-content: space-between;


}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1 rem;
  text-align: center;
}

.item-1 {
  background-color: rgb(143, 143, 48);
  font-size: 3rem;
  /* padding-bottom: 5rem; */
}
.item-2 {
  background-color: rgb(0, 145, 255);
  font-size: 3rem;
  /* padding-bottom: 4rem; */
}
.item-3 {
  background-color: rgb(3, 36, 18);
  font-size: 3rem;
  /* padding-bottom: 2rem; */
}
.item-4 {
  background-color: rgb(255, 42, 0);
  font-size: 3rem;
  /* padding-bottom: 3rem; */
}
.item-5 {
  background-color: rgb(0, 234, 255);
  font-size: 3rem;
}
.item-6 {
  background-color: rgb(0, 255, 38);
  font-size: 3rem;
}
.item-7 {
  background-color: rgb(255, 0, 183);
  font-size: 3rem;
}
.item-8 {
  background-color: rgb(0, 60, 255);
  font-size: 3rem;
}
.item-9 {
  background-color: rgb(67, 93, 51);
  font-size: 3rem;
}
